@import "../../styles/index.scss";

.button {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  //padding: 12px;
  //height: 42px;
  width: 100%;
  border-radius: 30px;
  border: none;
  @include font(12, 16);
  font-weight: 700;
  color: $_accent_color;
  background-color: $_accent_light;
  transition-property: all;
  transition-duration: $_transition_duration;
  transition-timing-function: $_cubic_bezier;
  transition-delay: $_transition_delay;

  &--small {
    padding: auto;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(tablet) {
      width: 50px;
      height: 50px;
    }
  }
  &--medium {
    padding: 10px 14px;
    height: 38px;
    width: min-content;
    @include media(tablet) {
      height: 50px;
    }
  }
  // &--big {
  // }

  &--white {
    border-color: $_link_gray;
    &:hover {
      background-color: $_hover_color;
    }
  }
  &--orange {
    border: 1px solid $_title_accent;
    background-color: $_accent_color;
    color: $_white_color;

    &:hover {
      background-color: $_accent_light;
      color: $_accent_color;
      border: 1px solid $_accent_light;
    }

    &:hover .svg--orange {
      stroke: #f6b83d;
    }
  }

  @include media(tablet) {
    @include font(16, 20);
  }

  &__text {
    margin-right: 8px;
  }
}

.svg {
  display: inline-block;
  fill: transparent;
  transition-duration: $_transition_duration;
  transition-timing-function: $_cubic_bezier;
  transition-delay: $_transition_delay;

  &--orange {
    stroke: #ffffff;
    // &:hover {
    //   stroke: #f6b83d;
    // }
  }
  &--white {
    stroke: #f6b83d;

    // &:hover {
    //   stroke: #ffffff;
    // }
  }
}
