@import "../../styles/index.scss";

.button {
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 12px;
  height: 42px;
  width: 100%;
  border-radius: 30px;
  border: none;
  @include font(12, 16);
  font-weight: 700;
  color: $_dark_color;
  background-color: $_accent_light;
  transition-property: all;
  transition-duration: $_transition_duration;
  transition-timing-function: $_cubic_bezier;
  transition-delay: $_transition_delay;

  &:hover,
  &:focus {
    //color: $_accent_color;
    background-color: $_hover_color;
  }
  @include media(tablet) {
    height: 52px;
    @include font(16, 20);
  }

  &__text {
    margin-right: 8px;
  }
}
