@import "../../../styles/index.scss";

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: $_accent_light;
  border-radius: 30px;
  row-gap: 12px;
  column-gap: 7px;

  @include media(tablet) {
    padding: 40px 35px;
    row-gap: 16px;
    column-gap: 16px;
  }
}
