@import "../../../styles/index.scss";
.title {
  @include font(28, 28);
  font-weight: 700;
  margin-bottom: 20px;

  @include media(tablet) {
    @include font(54, 54);
    //margin-bottom: 44px;
    margin-bottom: 0;
  }

  @include media(desktop) {
    //margin-bottom: 40px;
  }
}
