@import "../../../styles/index.scss";

.fakePhoto {
  background-color: $_accent_light;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 12px;

  &--small {
    width: 80px;
    height: 80px;

    @include media(tablet) {
      width: 86px;
      height: 86px;
    }
  }

  &--medium {
    width: 94px;
    height: 94px;

    @include media(tablet) {
      width: 110px;
      height: 110px;
    }
  }

  &--big {
    width: 120px;
    height: 120px;

    @include media(tablet) {
      width: 150px;
      height: 150px;
    }
  }

  &__img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}

.fakeLink {
  text-align: center;
  margin-bottom: 28px;

  @include media(tablet) {
    margin-bottom: 20px;
  }

  &__link {
    font-weight: 500;
    @include font(12, 16);

    @include media(tablet) {
      @include font(14, 18);
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
