@import "../../../styles/index.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 40px;
  height: 40px;
  @include button-icon;
  border-radius: 50%;
  background-color: $_accent_light;
  transition-property: all;
  transition-duration: $_transition_duration;
  transition-timing-function: $_cubic_bezier;
  transition-delay: $_transition_delay;

  @include media(tablet) {
    width: 50px;
    height: 50px;
  }
  @include media(desktop) {
  }

  &:hover {
    background-color: $_hover_color;
  }
}

.user {
  width: 80px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: $_accent_color;
  border-radius: 30px;

  &__text {
    color: $_white_color;
    @include font(14, 18);
    font-weight: 500;
  }
}
