@import "../../styles/index.scss";

.navigation {
  display: none;
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

//   &__link {
//     font-weight: 500;
//     @include font(14, 18);
//     padding: 15px 31px 15px 31px;
//     border: 1px solid $_link_gray;
//     border-radius: 30px;
//     transition-property: all;
//     transition-duration: $_transition_duration;
//     transition-timing-function: $_cubic_bezier;
//     transition-delay: $_transition_delay;

//     @include media(tablet) {
//       padding: 15px 20px 15px 20px;
//       @include font(16, 20);
//     }
//     @include media(desktop) {
//     }

//     &:hover {
//       border-color: $_accent_color;
//     }
//   }
// }
