@import "../../styles/index.scss";

.wrapper {
  position: relative;
}

.input {
  width: 100%;
  height: 42px;
  border-radius: 30px;
  padding-left: 12px;
  border: none;
  @include font(14, 18);

  &::placeholder {
    @include font(14, 18);
    color: $_dark_color;

    @include media(tablet) {
      @include font(16, 20);
    }
  }

  &--border {
    border: 1px solid $_link_gray;
  }

  @include media(tablet) {
    width: 230px;
    height: 48px;
    padding-left: 15px;
    @include font(16, 20);
  }
}

.icon {
  position: absolute;
  top: 12px;
  right: 12px;

  @include media(tablet) {
    top: 15px;
    right: 15px;
  }
}
