@import "../../styles/index.scss";

.navigation {
  display: none;

  @include media(tablet) {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  @include media(desktop) {
  }

  &__text {
    display: none;

    @include media(tablet) {
      display: flex;
    }

    &_white {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: $_accent_light;
    }
    &_black {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
  }

  &__button {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background-color: $_accent_light;
    padding: 0;
    display: inline-block;
    fill: transparent;
    transition-duration: $_transition_duration;
    transition-timing-function: $_cubic_bezier;
    transition-delay: $_transition_delay;

    @include media(tablet) {
      width: 52px;
      height: 52px;
    }
    &:hover {
      background-color: $_hover_color;
    }
  }
}
