@import "../../styles/index.scss";

.profile {
  padding-top: 82px;

  @include media(tablet) {
    padding-top: 114px;
    padding-bottom: 80px;
  }

  @include media(desktop) {
    padding-bottom: 64px;
  }

  &__wrap {
    @include media(desktop) {
      display: flex;
      gap: 30px;
    }
  }

  &__btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    background-color: $_white_color;
    border-radius: 30px;
    padding: 18px 20px 40px 20px;

    @include media(tablet) {
      padding: 40px;
    }

    @include media(desktop) {
      width: 520px;
    }
  }
  &__button {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background-color: $_accent_light;
    padding: 0;
    display: inline-block;
    fill: transparent;
    transition-duration: $_transition_duration;
    transition-timing-function: $_cubic_bezier;
    transition-delay: $_transition_delay;

    @include media(tablet) {
      width: 52px;
      height: 52px;
    }
    &:hover {
      background-color: $_hover_color;
    }
  }
}
