@import "../../styles/index.scss";

.wrapper {
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  @include media(tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
  }
  @include media(desktop) {
    margin-bottom: 60px;
    padding-right: 31px;
  }
}
