@import "../../../styles/index.scss";

.noticesList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
  }
  @include media(desktop) {
    column-gap: 32px;
    row-gap: 40px;
    padding: 0 31px;
  }

  &--small {
    @include media(tablet) {
      column-gap: 20px;
    }

    @include media(desktop) {
      padding-right: 0;
      column-gap: 24px;
    }
  }
}
