@import "../../styles/index.scss";
.section {
  padding-top: 114px;
  padding-bottom: 80px;

  @include media(tablet) {
    padding-top: 167px;
  }
  @include media(desktop) {
    padding-top: 178px;
  }
}
