@import "../../styles/index.scss";
.section {
  padding-top: 114px;
  padding-bottom: 80px;

  @include media(tablet) {
    padding-top: 167px;
  }
  @include media(desktop) {
    padding-top: 178px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @include media(mobile) {
    max-width: 375px;
  }

  @include media(tablet) {
    max-width: 768px;
    padding: 0 32px;
  }

  @include media(desktop) {
    max-width: 1280px;
    padding: 0 63px;
  }
}
