@import "../../../styles/index.scss";

.formWrapper {
  padding: 28px 20px;
  background-color: $_white_color;
  border-radius: 30px;
  margin-top: 10px;
  position: relative;

  @include media(tablet) {
    padding: 40px 136px;
    margin-top: 16px;
  }
  @include media(desktop) {
    margin-top: 0;
    padding: 60px 80px;
    width: 592px;
  }

  &__text {
    @include font(14, 18);
    font-weight: 500;
    margin-top: 12px;

    @include media(tablet) {
      @include font(18, 22);
      margin-top: 16px;
    }
  }
}

.form {
  margin-top: 24px;
  @include media(tablet) {
    margin-top: 32px;
  }
  &__inputRadioWrapper {
    display: none;
  }

  &__icon {
    fill: transparent;
    stroke: $_dark_color;
    position: absolute;
    top: 12px;
    right: 12px;

    @include media(tablet) {
      top: 16px;
      right: 16px;
    }
  }

  &__selectWrap {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    @include media(tablet) {
      width: 40px;
      height: 40px;
    }

    &__pink {
      background-color: $_pink_bcg;
    }

    &__blue {
      background-color: $_blue_bcg;
    }

    &__beige {
      background-color: $_accent_light;
    }
  }

  &__btnWrap {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    margin-top: 24px;

    @include media(tablet) {
      margin-top: 40px;
      margin-bottom: -12px;
    }
  }

  &__input {
    width: 100%;
    @include font(14, 18);
    font-weight: 500;
    color: $_text_input;
    padding: 12px;
    height: 42px;
    border: 1px solid $_link_gray;
    border-radius: 30px;

    &_none {
      display: none;
    }

    &::placeholder {
      padding-left: 12px;
      @include font(14, 18);
      font-weight: 500;

      @include media(tablet) {
        padding-left: 16px;
        @include font(16, 20);
      }
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $_accent_color;
    }
    @include media(tablet) {
      height: 52px;
      padding: 16px;
      @include font(16, 20);
    }
  }

  &__inputError {
    border-color: $_error_color;
  }

  &__inputSuccess {
    border-color: $_success_color;
  }

  &__inputWrapper {
    position: relative;
  }
  &__avatarWrapper {
    display: flex;
    gap: 8px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 21px;

    @include media(tablet) {
      gap: 16px;
      margin-bottom: 40px;
    }
  }

  &__error {
    position: absolute;
    @include font(10, 12);
    font-weight: 500;
    color: $_error_color;
    @include media(tablet) {
      @include font(12, 14);
    }
  }

  &__errorGender {
    top: 112px;
    position: absolute;
    @include font(10, 12);
    font-weight: 500;
    color: $_error_color;
    @include media(tablet) {
      @include font(12, 14);
      top: 175px;
    }
    @include media(desktop) {
      top: 192px;
    }
  }

  &__success {
    position: absolute;
    @include font(10, 12);
    font-weight: 500;
    color: $_success_color;
    @include media(tablet) {
      @include font(12, 14);
    }
  }
}
