@import "../../../styles/index.scss";

.friendsList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
  }
  @include media(desktop) {
    column-gap: 20px;
    row-gap: 28px;
    padding: 0 31px;
  }
}
