@import "../../../styles/index.scss";

.formWrapper {
  padding: 20px;
  background-color: $_white_color;
  border-radius: 30px;
  margin-top: 10px;

  @include media(tablet) {
    padding: 27px 140px;
    margin-top: 16px;
  }
  @include media(desktop) {
    margin-top: 0;
    padding: 50px 84px;
    width: 592px;
  }

  &__text {
    @include font(14, 18);
    font-weight: 500;
    margin-top: 12px;

    @include media(tablet) {
      @include font(18, 22);
      margin-top: 16px;
    }
  }
}

.form {
  margin-top: 24px;
  @include media(tablet) {
    margin-top: 32px;
  }

  &__input {
    width: 100%;
    @include font(14, 18);
    font-weight: 500;
    color: $_text_input;
    padding: 12px;
    height: 42px;
    border: 1px solid $_link_gray;
    border-radius: 30px;

    &::placeholder {
      padding-left: 12px;
      @include font(14, 18);
      font-weight: 500;

      @include media(tablet) {
        padding-left: 16px;
        @include font(16, 20);
      }
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $_accent_color;
    }
    @include media(tablet) {
      width: 424px;
      height: 52px;
      padding: 16px;
      @include font(16, 20);
    }
  }

  &__inputError {
    border-color: $_error_color;
  }

  &__inputSuccess {
    border-color: $_success_color;
  }

  &__inputWrapper {
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;

    @include media(tablet) {
      gap: 16px;
      margin-bottom: 64px;
    }
  }

  &__error {
    position: absolute;
    @include font(10, 12);
    font-weight: 500;
    color: $_error_color;
    @include media(tablet) {
      @include font(12, 14);
    }
  }

  &__success {
    position: absolute;
    @include font(10, 12);
    font-weight: 500;
    color: $_success_color;
    @include media(tablet) {
      @include font(12, 14);
    }
  }
}
.linkWrapper {
  display: flex;
  margin-top: 12px;
  justify-content: center;

  @include media(tablet) {
    margin-top: 16px;
  }

  &__text {
    @include font(12, 14);
    font-weight: 500;
    color: $_placeholder_color;
    margin-right: 6px;

    @include media(tablet) {
      @include font(14, 20);
    }
  }
  &__link {
    @include font(12, 14);
    font-weight: 600;
    color: $_accent_color;

    @include media(tablet) {
      @include font(14, 20);
    }
  }
}
